# name: Docker Build

# on:
#   push:
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Build Docker image
#         uses: docker/build-push-action@v6
#         with:
#           context: .
#           file: ./Dockerfile
#           tags: startup-streamlit:ci
#           push: false

name: Docker Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: startup-streamlit:ci
          load: true
          push: false

      - name: Smoke test (container starts)
        run: |
          docker run -d --name app -p 8501:8501 startup-streamlit:ci
          sleep 10
          curl -f http://localhost:8501/_stcore/health
          docker logs app --tail 200
          docker rm -f app
 

